    <h6><%= link_to 'Add A New Listing', new_listing_path %></h6>

<table>

  <thead>
    <th>Type</th>
    <th>City</th>
    <th>Bedrooms: </th>
    <th>Bathrooms: </th>
    <th>Price:</th>
    <th>Description: </th>
  </thead>

  <tbody>
    <% @listings.each do |f| %>
      <tr>
        <td><%= f.type %></td>
        <td><%= f.city %> 
        <td><%= f.num_bed %></td>
        <td><%= f.num_bath %></td>
        <td>$<%= f.price %></td>
        <td><%= f.description %></td>
        <td><%#= l.user_id %> </td>
        <td><%= link_to 'Edit', edit_listing_path(f) %><%#= button_to 'Remove Listing', l, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>

</table>