
<div id="map-container">
  <div id="map-canvas" >
  </div>
</div>
<script>
function initialize() {
  var myLatlng = makeLatLng(34.142593, -118.127701);

  var mapOptions = {
    zoom: 12,
    center: myLatlng
  }
  function makeLatLng(latitude, longitude) {
    return new google.maps.LatLng(latitude, longitude);
  }

  function makeMarker(latitude, longitude) {
    new google.maps.Marker({
      position: makeLatLng(latitude, longitude),
      map: map
    });
  }
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map
    });
 
     makeMarker(34,-119);
     makeMarker(60,-20);
     google.maps.event.addListener(map, 'click', function(event){
      makeMarker(event.latLng.k, event.latLng.D);
      createHouse(event.latLng.k, event.latLng.D);
  });


     function createHouse(lat, lng) {
      $.ajax
      ({
        type: "POST",
        datatype: "json",
        url: "/listings",
        data:  { listing: { latitude: lat, longitude: lng} }
       });
      }

}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<table>

  <thead>
    <th>Type</th>
    <th>City</th>
    <th>Bedrooms: </th>
    <th>Bathrooms: </th>
    <th>Price:</th>
    <th>Description: </th>
  </thead>

  <tbody>
  	<table class="table table-hover">
    <% @listings.each do |f| %>
      <tr>
        <td><%= f.type %></td>
        <td><%= f.city %> 
        <td><%= f.num_bed %></td>
        <td><%= f.num_bath %></td>
        <td>$<%= f.price %></td>
        <td><%= f.description %></td>
        <td><%= image_tag f.photo.url(:small), height: '150', width: '130' %></td>
        <td><%= link_to 'Edit', edit_listing_path(f), :class => "btn btn-default" %></td>
      </tr>
    <% end %>
  </table>
  </tbody>

</table>