<!DOCTYPE html>
<html>
<head>
  <title>Doorknobapp</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAtMTyEHjwug0bqEL-IEuEKgW3paGNZ0Jk" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
<body>
    <header class="navbar navbar-inverse" role="navigation">
      <div class="navbar">
        <%= link_to "DoorKnob", '/listings', id: "logo" %>
      </div>
        <nav>
        <div class="links">
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
            <li> Hello <%= current_user.username.upcase %>, You are logged in as <%= current_user.email %> </li>
            <li><%= link_to "Log Out", logout_path %></li>
            <% else %>
            <li><%= link_to "Sign Up", '/users/new' %></li>
            <li><%= link_to "Login",   login_path %></li>
            <li><%= link_to "Log Out", logout_path %></li>
            <% end %>
          </ul>
          </div>
        </nav>
      </div> 
</header>



    <div class="container">
    	<% if current_user %>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>" role="alert">
          <% key %><%= value %>
          </div>
    <% end %>
		<div class ="pager"><%= link_to 'See All Listings', listings_path, :class => "btn btn-info" %>   <%= link_to 'Add A New Listing', new_listing_path, :class => "btn btn-info" %></div>
		<% else %>
		<%#= link_to 'login', login_path %>
		<% end %>

    <%= yield %>
		

</body>

</html>
