<!DOCTYPE html>
<html>
<head>
  <title>Doorknobapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAtMTyEHjwug0bqEL-IEuEKgW3paGNZ0Jk" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<body>
    <header class="navbar navbar-inverse" role="navigation">
      <div class="navbar">
        <%= link_to "DoorKnob", '/listings', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Sign Up",   '/users/new' %></li>
            <li><%= link_to "Login",   login_path %></li>
            <li><%= link_to "Log Out", logout_path %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
    		<% if current_user %>
		<h1> Hello <%= current_user.username %></h1>
		<%= link_to 'See All Listings', listings_path %>
		<% else %>
		<%= link_to 'login', login_path %>
		<% end %>

		<% flash.each do |key, value| %>
<div class="alert alert-<%= key %>" role="alert">
    <% key %><%= value %>
    </div>
    <% end %>

    <%= yield %>

		
		<% session[:user_id] %>
		

</body>

</html>
